<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CommonClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CommonClasses.Properties.Settings>
            <setting name="BASE_URL" serializeAs="String">
                <value>http://localhost:8088</value>
            </setting>
            <setting name="API_HOST" serializeAs="String">
                <value>http://localhost:5000</value>
            </setting>
            <setting name="DB_HOST" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="DB_USER" serializeAs="String">
                <value>root</value>
            </setting>
            <setting name="DB_PASSWORD" serializeAs="String">
                <value>12345</value>
            </setting>
            <setting name="DB_NAME" serializeAs="String">
                <value>todo</value>
            </setting>
        </CommonClasses.Properties.Settings>
    </applicationSettings>
</configuration>